*{
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(predictive_maintenance.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}


.navbar{
    width: 100%;
    height: 75px;
    margin: auto;
    position: fixed;
    background-color: #ff7200;

}



.icon{
    width: 200px;
    float: left;
    height: 70px;

}


.logo{
    color: burlywood;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
    
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;

}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    

}

ul li a:hover{
    color: black;
    
}




.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}


.text-box h1{
    font-size: 62px;

}

.text-box p{
   /* margin: 10px 0 40px;*/
    font-size: 20px;
    color: #fff;


}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;

}

.hero-btn:hover{
    border: 1px solid #ff7200;
    background: #ff7200;
    transition: 1s;

}

.problem{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    
}
.solution{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.goal{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.works{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.plan{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.umlclass{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.usecase{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}


h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #777;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}



.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;

}
.pro-plan{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}


.activitydiagram{

    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;

}


.usecasediagram{

    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;

}

.active{
    background: #ff7200;
    display: inline-block;
    padding: 5px;
}

